
  <h3>Flight Details</h3>
  <div class="panel panel-default">
  <input type="text" name="search" class="form-control" placeholder="Search" [(ngModel)]="searchData">
  <div class="panel-body">
    <div class="pull-right">
    </div>
  <div *ngIf="flight.length <= 0" [ngStyle]="{'text-align': 'center','color': 'red'}">
    No Flight Available
  </div>
  <div class="table-resposive" [hidden]="!flight.length >0">
    <table class="table table-filter">
    <thead>
      <tr>
        <th></th>
        <th>From</th>
        <th>To</th>
        <th>Airline</th>
        <th>Arrival Date</th>
        <th>Departure Date</th> 
        <th>Arrival Time</th> 
        <th>Departure Time</th> 
      </tr>
    </thead>
    <tbody>
      <!-- (flight | searchBy : searchData) you can use this for searching in ngFor-->
        <tr *ngFor="let flightList of flight">
        <td>
        <div class="media">
        <a href="#" class="pull-left">
        <img [src]="imageUrl" class="media-photo">
        </a>
        </div>
        </td>
        <td>{{flightList.flightFrom | capitalize}}</td>
        <td>{{flightList.flightTo | capitalize}}</td>
        <td>{{flightList.airline}}</td>
        <td>{{flightList.arrivalDate | date :'M/d/yyyy'}}</td>
        <td>{{flightList.departureDate | date :'M/d/yyyy'}}</td>
        <td>{{flightList.arrivalTime}}</td>
        <td>{{flightList.departureTime}}</td>
        </tr>
    </tbody>
  </table>
  </div>
</div>

